[v-cloak] {
  display: none;
}
html, body {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
}
#app {
  padding: 30px;
  max-width: 1200px;
  margin: 30px auto;
  background: #fff;
  min-height: 80%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #ececec;
}
#result {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}
input{
  padding: 6px 10px;
  border-radius: 3px;
  background: transparent;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
}
input.sheetUrl {
  width: 650px;
}
input.sheetNum {
  width: 50px;
}
.copy-block {
  margin-top: 60px;
  text-align: right;
}
button {
  background: #228be6;
  color: #fff;
  border-radius: 5px;
  padding: 5px 12px;
  outline: none;
  border: none;
  font-size: 12px;
  cursor: pointer;
}

.copy-block button:disabled {
  background: #83b7e4;
  cursor: not-allowed;
}
.empty-text {
  color: #b1b1b1;
  font-size: 14px;
}
.form p span{
  width: 120px;
  text-align: right;
  display: inline-block;
}